*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    width: 80%;
    margin: auto;
} 
.item {
    background-color: teal;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px dotted #333;
}
.grid-fill {
    display: grid;
    grid-auto-rows: minmax(100px,auto);
    gap: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
}

.grid-fit {
    margin-top: 5rem;
    display: grid;
    grid-auto-rows: minmax(100px,auto);
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}