.box {
    background-color: firebrick;
    width: 200px;
    height: 150px;
    margin-top: 4rem;

    /*transition: width 1s, height 1s, transfrom 0.5s;*/

    transition-property: width;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
    transition-delay: 1s;
}
.box:hover {
    width: 400px;
    height: 300px;

    /*transform: translateX(100px);*/
}
.btn {
    padding: 1.2rem 3rem;
    background-color: transparent;
    border: 1px solid transparent;
    outline: none;
    border-radius: 10px;
    text-transform: uppercase;
    transition: all 0.05s ease-in-out;
}
.btn-primary {
    background-color: navy;
    color: #fff;
    box-shadow: 2px 2px 7px 1px #333;
}
.btn-primary:hover {
    background-color: rgb(40, 40, 158);
    box-shadow: 3px 7px 10px 8px #333;
}