* {
    border: 1px solid #333;
}
html, body {
    border: none;
}
.whitespace {
    height: 500px;
    border: none;
}

a {
    /* margin: 1rem; */
    display: inline-block;
}

/* Snabbkommando för kommentarer = ctrl + '*/
